[submodule "external/imgui"]
	path = external/imgui
	branch = docking
	url = https://github.com/ocornut/imgui.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "external/blend2d"]
	path = external/blend2d
	url = https://github.com/blend2d/blend2d.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
